<!doctype html>
<head>
   <title>Slackmo</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
   <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon"/>
   <style>
      .tb {
      display: table;
      max-width:80%;
      margin: 10px auto;
      }
      .tbr {
      display: table-row;
      }
      .tbc {
      display: table-cell;
      vertical-align: middle;
      }
      .tb img {
      height: 140px;
      max-width:100%;
      }
   </style>
</head>
<body>
   <div class="container">
      <div class="jumbotron">
         <center>
            <h1>Success!</h1>
            <br>
            <p class="lead">You authenticated with Venmo. Go back to Slack and make a payment!</p>
         </center>
      </div>
   </div>
</body>
</html>